# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
/dist
/build

# .env file for environment variables
.env
.env.local

# IDE files (optional, depending on your editor)
.vscode/
.idea/
.DS_Store
 
